<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260099750166-d7qr646qe2f5rqfd0cabor2q5b9mrnsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260099750166-d7qr646qe2f5rqfd0cabor2q5b9mrnsi</string>
	<key>API_KEY</key>
	<string>AIzaSyCsedpce5C7h7ES6l8_1ZApEevID_luGY8</string>
	<key>GCM_SENDER_ID</key>
	<string>260099750166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaClone</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-dba9c</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-dba9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260099750166:ios:e9746845387a2250ebb837</string>
</dict>
</plist>